.taskName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 17px ;
}

.taskGroup{
    background-color: #101204;
    border-radius: 20px;
    padding: 20px 0 10px 0;
    margin: 10px;
    height: min-content;
    width: 350px;
}

.taskGroup ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.taskGroup li {
    background-color: #212121;
    margin: 0 0 0 0;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.taskGroup li:hover {
    cursor: pointer;
}

.bbutton{
    border: none;
    cursor: pointer;
    background: none;
    color: #9FADBC;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}



.addButton{
    border: none;
    cursor: pointer;
    background: none;
    color: #9FADBC;
    width: 270px;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.addButton:hover, .copyButton:hover,.bbutton:hover {
    background-color: #1b1f1a;
}

.taskBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.taskBottomDiv{
    margin: 0px 17px;
}

.copyButton{
    border: none;
    cursor: pointer;
    background: none;
    color: #9FADBC;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
}
.addNew{
    padding: 0;
    margin: 0;
    margin: 0px 17px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.addNew input{
    background-color: #22272B;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
}
.addNew button{
    background-color: #5e96e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    min-width: 115px;
}
.addNew button:hover{
    background-color: #64a0f4;
 
}